<div id="results">
  <h2>Results</h2>

  <i>Hint: You can hold your mouse over a result!</i>

  <div id="results-list">
  </div>

  <%= erb :'partials/navigation', :locals => { level: level } %>
</div>

