<div class="navigation">
  <button class="btn btn-sm btn-secondary disabled previousPage">Previous level</button>
  <button class="btn btn-sm btn-secondary disabled nextPage">Next level</button>
</div>
