body {
  color: #ccc; /* Lighter text color */
  background-color: #162239; /* Darker background for textarea */
  font-weight: 500; /* Slightly bolder font */
}

/* Custom styles for the sidebar */
.sidebar {
  color: white;
  padding: 20px;
  border-radius: 5px 5px 0 0; /* Adjusted for top corners only */
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #ccc; /* Lighter text color */
  text-decoration: none;
}

.sidebar a:hover {
  color: white; /* Brighter hover color */
}

/* Make the sidebar fixed and extend to the bottom */
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* Full height of the viewport */
  width: 200px; /* Adjust width as needed */
  background-color: #162239; /* Darker background for textarea */
  border-right: 3px solid black;
  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  padding: 10px;
  text-align: center;
  width: 100%; /* Ensure full width */
}

.sidebar-logo img {
  width: 100%; /* Make the logo image full width */
  height: auto; /* Maintain aspect ratio */
  max-height: 200px; /* Optional: Limit the logo height */
}

.sidebar-content {
  flex-grow: 1; /* Fill available space */
  overflow-y: auto; /* Add scrollbar if content exceeds height */
  padding-bottom: 50px; /* Space for the footer */
}

/* Adjust main content to account for the fixed sidebar */
.main-content {
  margin-left: 200px; /* Match the width of the sidebar */
  padding-top: 20px; /* Optional padding */
}

.button-group {
  text-align: left;
  margin-top: 10px;
}

textarea::placeholder {
  color: #aaa; /* Lighter placeholder color */
  font-style: italic; /* Italic font for placeholder */
}

#request {
  padding: 10px;
}

#response {
  padding: 10px;
}

.navigation {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.navigation button {
  margin-right: 10px; /* Add space between buttons */
  background-color: #061229; /* Coral */
  color: white;
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.navigation button:hover {
  background-color: #FF9900; /* Lighter orange on hover */
}

.navigation button:last-child {
  margin-right: 0; /* Remove margin from the last button */
}

.navigation button:disabled {
  background-color: #5c636a; /* Coral */
}

.code {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 100%;
  min-height: 100px; /* Adjust height as needed */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #666; /* Subtle border */
  resize: vertical; /* Allow vertical resizing */
  box-sizing: border-box; /* Ensure full width within parent */
  field-sizing: content;
  background-color: #061229; /* Darker background for textarea */
  color: white; /* Lighter text color */
  font-size: 12pt;
  font-family: monospace;
  line-height: 20pt;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  overflow-wrap: break-word; /* For long words */
}

.skipped-container {
  background-color: white; /* White background */
  border-radius: 5px; /* Rounded corners */
  padding: 2px; /* Padding inside the container */
  margin: 3px;
  border: 1px solid #FFBF00; /* Optional amber border for emphasis */
  width: 20px; /* Fixed width to make it square */
  height: 20px; /* Same as width to ensure it's square */
  /*display: inline-flex; /* Ensures content is centered */
  display: none;
  justify-content: center; /* Center checkmark horizontally */
  align-items: center; /* Center checkmark vertically */
  user-select: none;
}

.checkmark-container {
  background-color: white; /* White background */
  border-radius: 5px; /* Rounded corners */
  padding: 2px; /* Padding inside the container */
  margin: 3px;
  border: 1px solid #008000; /* Optional green border for emphasis */
  width: 20px; /* Fixed width to make it square */
  height: 20px; /* Same as width to ensure it's square */
  /*display: inline-flex; /* Ensures content is centered */
  display: none;
  justify-content: center; /* Center checkmark horizontally */
  align-items: center; /* Center checkmark vertically */
  user-select: none;
}

.checkmark {
  font-size: 16px; /* Adjust size */
  font-weight: 1000; /* Make it bold */
  color: #008000; /* Green color */
}

.skipped {
  font-size: 16px; /* Adjust size */
  font-weight: 1000; /* Make it bold */
  color: #CC8F00; /* Amber color */
}

.current-level {
  font-weight: bold;
  color: #FFBF00 !important;
}

.rule {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 100%;
  min-height: 250px; /* Adjust height as needed */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #666; /* Subtle border */
  resize: vertical; /* Allow vertical resizing */
  box-sizing: border-box; /* Ensure full width within parent */
  field-sizing: content;
  background-color: #061229; /* Darker background for textarea */
  color: white; /* Lighter text color */
  font-size: 12pt;
  font-family: monospace;
  line-height: 20pt;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  overflow-wrap: break-word; /* For long words */
}

#results {
  margin-top: 10px;
  display: none;
}

#rules {
  margin-top: 10px;
  display: none;
}

.status {
  width: 100%; /* Full width */
  padding: 20px 40px 20px 20px; /* Adjust padding for icon space */
  text-align: left; /* Align text to the left */
  border: 1px solid #666; /* Default border for dark mode */
  position: relative; /* Enable relative positioning */
  background-color: #333; /* Dark background */
  margin: 20px;
  cursor: pointer;
}

.success {
  background-color: #2F4F4F; /* Dark greenish background */
  border-color: #3E8E41; /* Green border */
  color: #C6F4D6; /* Light green text */
}
.complete {
  background-color: #2F4F4F; /* Dark greenish background */
  border-color: #3E8E41; /* Green border */
  color: #C6F4D6; /* Light green text */
}

.miss {
  background-color: #663300; /* Dark brownish background */
  border-color: #FF9900; /* Orange border */
  color: #F7D2C4; /* Light orange text */
}
.overmatch {
  background-color: #663300; /* Dark brownish background */
  border-color: #FF9900; /* Orange border */
  color: #F7D2C4; /* Light orange text */
}
.unsuccessful {
  background-color: #663300; /* Dark brownish background */
  border-color: #FF9900; /* Orange border */
  color: #F7D2C4; /* Light orange text */
}
.caught {
  background-color: #663300; /* Dark brownish background */
  border-color: #FF9900; /* Orange border */
  color: #F7D2C4; /* Light orange text */
}

.error {
  background-color: #660033; /* Dark reddish background */
  border-color: #E74C3C; /* Red border */
  color: #F2C6C6; /* Light red text */
}

.status-icon {
  position: absolute; /* Position icon absolutely */
  right: 20px; /* Pin icon to the right */
  top: 50%; /* Center icon vertically */
  transform: translateY(-50%); /* Fine-tune vertical centering */
  font-size: 24px; /* Increase icon size */
}

.highlight {
  background-color: #66CCFF;
}

#loadingIndicator {
  display: inline-block; /* Display inline */
}

.spinner-border {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
  border: 2px solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
  100% {
    transform: rotate(360deg);
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}


:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0:  #839496;
  --base1:  #93a1a1;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red:    #dc322f;
  --magenta:#d33682;
  --violet: #6c71c4;
  --blue:   #268bd2;
  --cyan:   #2aa198;
  --green:  #859900;
}

/* Code blocks inside #text */
#text pre {
  background: var(--base03);
  color: var(--base1);
  border-radius: 2px;
  padding: 0.4em 0.7em;          /* Reduced padding */
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
  margin: 1em 1;
  font-family: 'Fira Mono', 'Menlo', 'Monaco', 'Consolas', monospace;
  font-size: 1em;
  line-height: 1.5;
  box-shadow: 0 2px 8px rgba(0,43,54,0.12);
  border: 1px solid var(--base01);
  white-space: pre;
}

/* Code inside pre (for code blocks) */
#text pre code {
  background: none;
  color: inherit;
  padding: 0;
  border-radius: 0;
  font-size: inherit;
  font-family: inherit;
  white-space: pre;
  display: block;
}

/* Inline code */
#text code:not(pre code) {
  background-color: var(--base02);
  color: var(--cyan);
  border-radius: 2px;
  padding: 1px 4px;              /* Reduced padding */
  font-family: 'Fira Mono', 'Menlo', 'Monaco', 'Consolas', monospace;
  white-space: nowrap;
  font-size: 0.95em;
  border: 1px solid var(--base01);
}
