<%= erb :'partials/header', :locals => { title: "Suricata Training" } %>

<body>
    <div class="container-fluid">
      <%= erb :'partials/sidebar', :locals => { levels: levels } %>

      <!-- Main Content Column -->
      <div class="main-content">
          <h1>Main Content</h1>
          <p>Welcome to my Suricata learning platform!</p>

          <p>It felt weird not to have a home page, so this is it.</p>

          <p>Hopefully you know why you're here!</p>

          <p>If not, here are my slides: <a href="https://docs.google.com/presentation/d/1uT30XkkbTEbGOtJqJWNfoOhIGwnIER7Td6LIic_im74/edit?usp=sharing">https://docs.google.com/presentation/d/1uT30XkkbTEbGOtJqJWNfoOhIGwnIER7Td6LIic_im74/edit?usp=sharing</a></p>

          <p>To get started, click a level on the left</p>

          <p>Note that this is tested in Chrome, not Firefox, so YMMV</p>
      </div>
    </div>
    <%= erb :'partials/scripts' %>
    <script src="/index.js"></script>
</body>
</html>
